/* # -> Selector ID = cuma sekali*/
/* . -> selector class = bisa digunakan berkali-kali*/
*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

main{
    background-color: rgb(186, 228, 252);
}

.container{
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(assets/wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0%;
}

#blur.active{
    filter: blur(10px);
}

.box{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.3);
    overflow: hidden;
    width: 500px;
    max-width: 100%;
    margin: 5% 0%;
}

.header{
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}

.header h2{
    margin: 0%;
}

.form{
    padding: 30px 40px;
}

.data{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.data.error{
    margin-bottom: 10px;
    padding-bottom: 30px;
    position: relative;
}

.data label{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 16px;
}

.data input{
    border: 2px solid #f0f0f0;
    border-radius: 50px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 1%;
    width: 100%;
}

.data.success input{
    border-color: #2ecc71;
}

.data.error input{
    border-color: #e74c3c;
}

.data i{
    position: absolute;
    top: 42px;
    right: -20px;
    visibility: hidden;
}

.eyeicon{
    position: absolute;
    top: 0px;
    right: 35px;
    cursor: pointer;
}

#hide1{
    visibility: visible;
}

#show1{
    visibility: visible;
}

#hide2{
    visibility: visible;
}

#show2{
    visibility: visible;
}

#tandc{
    display: flex;
}

#tandc input{
    width: 10%;
    margin: auto;
    cursor: pointer;
}

#tandc label{
    width: 90%;
    margin: auto;
    font-size: 14px;
}

.data.success i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}

.data.error i.fa-exclamation-circle{
    color: #e74c3c;
    visibility: visible;
}

.data small{
    visibility: hidden;
    position: absolute;
    bottom: 1;
    left: 0;
    font-size: 11px;
    text-align: justify;
}

.data.error small{
    color: #e74c3c;
    visibility: visible;
}

.form button{
    font-family: "Poppins", sans-serif;
    background-color: #003452;
    border: 2px solid #ffffff;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    width: 50%;
    cursor: pointer;
}

.popup{
    width: 400px;
    height: fit-content;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    font-size: 16px;
    visibility: hidden;
}

.open-popup{
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
}

.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px black;
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 2px black;
    font-size: 18px;
    cursor: pointer;
}

.popup button a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* Tablet */
@media screen and (max-width: 768px) {
    .box{
        width: 450px;
        margin: 10% 0%;
    }
    
    .header{
        padding: 20px 40px;
    }
    
    .form{
        padding: 30px 40px;
    }
    
    .data.error{
        margin-bottom: 10px;
        padding-bottom: 45px;
    }
    
    .data label{
        margin-bottom: 5px;
    }
    
    .data input{
        font-size: 14px;
        padding: 10px;
        margin-bottom: 1%;
        width: 100%;
    }
    
    .data i{
        position: absolute;
        top: 44px;
        right: -20px;
        visibility: hidden;
    }
    
    .eyeicon{
        position: absolute;
        top: 0px;
        right: 35px;
        cursor: pointer;
    }

    #tandc input{
        width: 10%;
        margin: auto;
    }
    
    #tandc label{
        width: 90%;
        margin: auto;
    }
    
    .data small{
        position: absolute;
        bottom: 1;
        left: 0;
    }
    
    .form button{
        font-size: 16px;
        padding: 10px;
        width: 100%;
    }

    .popup{
        width: 350px;
        height: fit-content;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.1);
        text-align: center;
        padding: 0 30px 30px;
    }
    
    .open-popup{
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
    }
    
    .popup img{
        width: 100px;
        margin-top: -50px;
        border-radius: 50%;
        box-shadow: 0 2px 5px black;
    }
    
    .popup h2{
        font-size: 38px;
        font-weight: 500;
        margin: 30px 0 10px;
    }
    
    .popup button{
        width: 100%;
        margin-top: 50px;
        padding: 10px 0;
        font-size: 18px;
    }
}

/* Mobile Phone */
@media screen and (max-width: 560px) {
    .box{
        width: 400px;
        margin: 12% 0%;
    }
    
    .header{
        padding: 20px 30px;
    }
    
    .form{
        padding: 30px 30px;
    }
    
    .data.error{
        margin-bottom: 10px;
        padding-bottom: 45px;
    }
    
    .data label{
        margin-bottom: 5px;
        font-size: 14px;
    }
    
    .data input{
        font-size: 13px;
        padding: 10px;
        margin-bottom: 1%;
        width: 100%;
    }
    
    .data i{
        position: absolute;
        top: 36px;
        right: -20px;
        visibility: hidden;
    }
    
    .eyeicon{
        position: absolute;
        top: 0px;
        right: 35px;
        cursor: pointer;
    }

    #tandc input{
        width: 10%;
        margin: auto;
    }
    
    #tandc label{
        width: 90%;
        margin: auto;
    }
    
    .data small{
        position: absolute;
        bottom: 1;
        left: 0;
    }

    .data i{
        position: absolute;
        top: 40px;
        right: -20px;
        visibility: hidden;
    }
    
    .form button{
        font-size: 16px;
        padding: 10px;
        width: 100%;
    }

    .popup{
        width: 350px;
        height: fit-content;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.1);
        text-align: center;
        padding: 0 30px 30px;
        font-size: 15px;
    }
    
    .open-popup{
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
    }
    
    .popup img{
        width: 100px;
        margin-top: -50px;
        border-radius: 50%;
        box-shadow: 0 2px 5px black;
    }
    
    .popup h2{
        font-size: 38px;
        font-weight: 500;
        margin: 30px 0 10px;
    }
    
    .popup button{
        width: 100%;
        margin-top: 50px;
        padding: 10px 0;
        font-size: 18px;
    }

}

@media screen and (max-width: 450px) {
    .box{
        width: 85%;
        margin: 12% 0%;
    }
    
    .header{
        padding: 15px 30px;
    }
    
    .form{
        padding: 25px 30px;
    }

    .data input{
        font-size: 12px;
        padding: 8px 10px;
    }
    
    .data.error{
        margin-bottom: 10px;
        padding-bottom: 60px;
    }

    .data small{
        font-size: 10.5px;
    }

    #tandc input{
        width: 10%;
        margin: auto;
    }
    
    #tandc label{
        font-size: 12px;
        width: 88%;
        margin: auto;
        margin-left: 2%;
    }
    
    .form button{
        font-size: 16px;
        padding: 6px;
        width: 100%;
    }

    .popup{
        width: 75%;
        height: fit-content;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.1);
        padding: 0 15px 20px;
    }
    
    .open-popup{
        top: 50%;
        transform: translate(-50%, -50%) scale(1);
    }
    
    .popup img{
        width: 40%;
        margin-top: -20%;
        border-radius: 50%;
        box-shadow: 0 2px 5px black;
    }
    
    .popup h2{
        font-size: 30px;
        font-weight: 500;
        margin: 30px 0 10px;
    }
    
    .popup button{
        width: 100%;
        margin-top: 40px;
        padding: 10px 0;
        font-size: 15px;
    }
}