/* # -> Selector ID = cuma sekali*/
/* . -> selector class = bisa digunakan berkali-kali*/
*{
    margin:auto;
    padding: auto;
}

main{
    width: auto;
    font-size: 25px;
    background-image: url(assets/gallery.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container{
    max-width: 100%;
    height: fit-content;
}

.gallery{
    width: 80%;
    height: fit-content;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

::-webkit-scrollbar {
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
    background: #a38e8e;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(73, 72, 81);
}

.contain {
    display: flex;
    gap: 20px;
    max-width: 100%;
    margin-top: 30px;
    background: #eeeeca;
    border-radius: 12px;
    padding: 30px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-padding: 30px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.ts{
    width: auto;
    height: 350px;
}

.card {
    display: flex;
    flex: 0 0 26%;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 12px;
    background: #fff;
    scroll-snap-align: start;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.image {
    height: 150px;
    width: 150px;
    padding: 4px;
    background: #787b85;
    border-radius: 50%;
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.card h2 {
    margin-top: 25px;
    color: #000000;
    font-size: 22px;
}

.card p {
    margin-top: 4px;
    font-size: 18px;
    color: #000000;
    text-align: center;
}

/* Tablet */
@media screen and (max-width: 900px) {
    .contain {
        display: flex;
        gap: 12px;
        max-width: 100%;
        margin-top: 30px;
        padding: 30px;
    }

    .card {
        display: flex;
        flex: 0 0 40%;
        align-items: center;
        padding: 30px;
        border-radius: 12px;
    }
    
    .image {
        height: 150px;
        width: 150px;
        padding: 4px;
    }
    
    .card h2 {
        margin-top: 25px;
        font-size: 20px;
    }
    
    .card p {
        margin-top: 4px;
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    main{
        width: auto;
        height: fit-content;
        font-size: 22px;
    }
    
    .gallery{
        width: 75%;
        height: fit-content;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

/* Mobile Phone */
@media screen and (max-width: 550px) {
    .contain {
        display: flex;
        gap: 12px;
        max-width: 100%;
        margin-top: 30px;
        padding: 15px;
    }

    .ts{
        height: 280px;
        width: auto;
        scroll-snap-align: start;
    }
    
    .card {
        display: flex;
        flex: 0 0 80%;
        align-items: center;
        padding: 25px;
        border-radius: 12px;
    }
    
    .image {
        height: 150px;
        width: 150px;
        padding: 4px;
    }
    
    .card h2 {
        margin-top: 25px;
        font-size: 20px;
    }
    
    .card p {
        margin-top: 4px;
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    main{
        font-size: 20px;
    }
    
    .gallery{
        width: 85%;
        height: fit-content;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 360px) {
    .ts{
        height: 209px;
        width: auto;
        scroll-snap-align: start;
    }

    .card {
        display: flex;
        flex: 0 0 83%;
    }
}